   		body  {
   			background-color:#6B728E;
   		}
   		hr  {
   			text-align: center;
			   border-style: none;
			   border-top-style: dotted;
			   border-color: grey;
			   border-width: 5px;
			   width: 30px;
			}  
			
		   h1  {
			  color: #404258;
			font-family: cursive;
            }  
            h3  {
            color: #50577A;
            font-family: cursive;
            text-decoration: underline;
            text-decoration-color: black;
            }
            img {
            height:175px;
			width:175px;
			}
			p  {
				font-family: cursive;
			}
			a {
				font-family: cursive;
			}
			table  {
				font-family: cursive;
			}
			/***************************************************Class selector******************************************/
			.circle{
			border-radius: 100%;
}
			