   		body  {
   			background-color:#6B728E;
   		}
   		hr  {
			   border-style: none;
			   border-top-style: dotted;
			   border-color: grey;
			   border-width: 5px;
			   width: 30px;
			}  
			
		   h1  {
			  color: #404258;
			font-family: cursive;
            }  
            h3  {
            color: #50577A;
            font-family: cursive;
            text-decoration: underline;
            text-decoration-color: black;
            }
            img {
            height:150px;
			width:150px;
			}
			p  {
				font-family: cursive;
			}
			a {
				font-family: cursive;
			}
			table  {
				font-family: cursive;
			}
			